@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
    .sections {
        width: 85%;
    }

    /* works section */
    .work_ani, .work_omb {
        font-size: 80% !important;
    }

    /* footer section */
    .copyright_text{
        text-align: center;
    }

    .footer .flowus{
        text-align: center;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    .skills {
        background: #292722 url(../images/skills_bg_xs.jpg) no-repeat center center;
        background-size: cover;
        color: #fff;
    }

    .skills .bg_overlay {
        background-color: rgba(41, 39, 34, 0.8);
        width: 100%;
        height: 100%;
    }

    h3 {
        font-size: 1.575rem;
        line-height: 2rem;
        margin-bottom: 15px;
    }

    h5 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        line-height: 1.475rem;
    }

    .sections {
        width: 90%;
    }

    /* about section */
    .about .profile_photo {
        width: 35%;
    }
}

/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {

    html {
        font-size: 95%;
    }

    .sections {
        width: 95%;
    }

    /* home section */
    .home .dev-name {
        font-size: 55px;
    }

    /* about section */
    .about .profile_photo {
        width: 40%;
    }

    /* skills section */
    .skills h5 {
        padding-top: 20px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 479px) {
    /* home section */
    .home .dev-name {
        font-size: 40px;
    }

    .home .dev-desc {
        font-size: 15px;
    }

    /* about section */
    .about .profile_photo {
        width:50%;
    }

    /* works section */
    .works .omb_btn, .works .hp_btn, .works .ani_btn {
        border: 0;
        font-weight: bold;
    }

    .works .omb_btn {
        color: #955D83;
    }

    .works .hp_btn {
        color: #3F9264;
    }

    .works .ani_btn {
        color: #d29898;
    }

    .works .omb_btn:hover, .works .hp_btn:hover, .works .ani_btn:hover {
        border: 0;
        background-color: transparent;
    }

    .copyright_text p{
        font-size: 80%;
    }

    /* carousel indicators works page */

    .works_page .carousel-indicators li {
        width: 12px;
        height: 12px;
        margin: 3px;
    }

    .works_page .carousel-indicators .active {
        width: 12px;
        height: 12px;
        margin: 3px;
    }

    .works_page .carousel-inner {
        margin-bottom:50px;
    }

    .works_page .carousel-indicators {
        bottom:-50px;
    }

    /* work options */

    .works_page .btn {
        min-width: 100px;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 90%;
    }

    /* home section */
    .home .dev-name {
        font-size: 32px;
    }

    .home .dev-desc {
        font-size: 12px;
    }
}

