img {
    opacity: 1;
    transition: opacity 0.3s;
}

img[data-src] {
    opacity: 0;
}

html,
body {
    background-color: #fff;
    font-size: 1rem;
    color: #585858;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
    font-family: 'Raleway', sans-serif;
}

/*
Separator
*/
.separator {
    height: 1px;
    width: 170px;
    margin: 20px 0px;
    background: #eeeeee;
    position: relative;
}
.separator:after {
    position: absolute;
    left:0;
    bottom:0;
    height: 2px;
    width: 50px;
    background: #ff7200;
    content:"";

}

/* navbar section */

.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(52, 52, 52, 0.9) !important;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 75px;
}

.main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: all .6s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: #ff7200;
    background: transparent;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #ff7200;
    padding-bottom: 22px;
    border-bottom: 1px solid #ff7200;
    background: transparent;

}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#f5c239;
}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px
}

.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
    color: #ff7200;
    opacity: 1;
}
.dropdown-menu .navbar-form {
    margin-right: -30px;
}


/*home section*/

.overlay {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.home-content {
    z-index:4;
    position: relative;
    display: inline-block;
}

.home .dev-name {
    font: 400 70px 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.home .dev-desc {
    text-shadow: 2px 2px 3px #000;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.home .main_home h1{
    color: #fff;
    margin-bottom:20px;
}

/*about section*/

.about .about_me {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    font-size: 0.875rem;
}

.about .profile_photo {
    margin-right: 1rem;
    width: 32%;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.profile_photo:hover {
    border-radius: 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*skills section*/
.skills {
    background: #292722 url(../images/skills_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.skills .head_title h3 {
    color: #FFFFFF;
}

.skills .bg_overlay {
    background-color: rgba(41, 39, 34, 0.8);
    width: 100%;
    height: 100%;
}

.skills .checked {
    color: #ff9c4d;
}

.skills .not-checked {
    color: #999999;
}

.skills .rating {
    font-size: 65%;
}

.skills .list-group-item {
    background-color: transparent !important;
}

.skills_listing {
    font-family: 'Lato', sans-serif;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.skills_listing li {
    text-align: left;
}

.skills h5 {
    color: #ff9c4d;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

/* works section */

.works .carousel-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

.works .overlay_omb {
    background: rgba(0,0,0,0.3);
}

.works .overlay_hp {
    background: rgba(0,0,0,0.55);
}

.works .overlay_ani {
    background: rgba(0,0,0,0.55);
}

.works .caption_wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.works .caption_centered {
    display: table-cell; vertical-align: middle;
}

.works .work_omb {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    text-shadow: 1px 1px #000000;
    font-family: 'Josefin Sans', sans-serif;
    color: #A8A8A8;
}

.works .work_hp {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 200%;
    text-shadow: 1px 1px #000000;
    font-family: 'Caveat', cursive;
    color: #A8A8A8;
}

.works .work_ani {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    text-shadow: 1px 1px #000000;
    font-family: 'Josefin Sans', sans-serif;
}

.works .logo_omb {
    width:15%;
}

.works .logo_hp {
    width:40%;
}

.works .work_btn {
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px #000000 !important;
}

.works .omb_btn {
    border: 2px solid #955D83;
}

.works .omb_btn:hover {
    background-color:#955D83;
    border: 2px solid #955D83;
}

.works .hp_btn {
    border: 2px solid #3F9264;
}

.works .hp_btn:hover {
    background-color:#3F9264;
    border: 2px solid #3F9264;
}

.works .ani_btn {
    border: 2px solid #d29898;
}

.works .ani_btn:hover {
    background-color:#d29898;
    border: 2px solid #d29898;
}

/* Carousel */

.prev, .next {
    color: #FFFFFF;
    text-shadow: 1px 1px #a3a3a3;
}

.prev:hover, .next:hover {
    color: #cccccc;
    text-shadow: 1px 1px #a3a3a3;
}
