html,
body {
    background-color: #fff;
    font-size: 1rem;
    color: #585858;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    width:100%;
    font-family: 'Lato', sans-serif;
}

/* scrollbar section */

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* preloader section */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}

a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.btn:focus,
.btn:active {
    outline: inherit;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}

p {
    margin: 0 0 8px;
}

.clear {
    clear: both;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-weight: 400;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h4,
h5 {
    font-weight: 400;
    margin: 0;
    line-height: 2rem;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.75rem;
    line-height: 5.5rem;
    color:#fff;
    letter-spacing: .4rem;
}

h2 {
    font-size:1.875rem;
    line-height: 3rem;
    text-transform: uppercase;

}

h3 {
    font-size:1.375rem;
    line-height: 2.5rem;
    text-transform: uppercase;
}

h4 {
    font-size: 1rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}

p {
    line-height: 1.8rem;
    font-size: 0.875rem;
}
p:last-child {
    margin-bottom: 0px;
}

/*.home-wrap h1,*/

.text {
    color: #333333;
}
.colorstext {
    color: #5e9a28;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.bg-grey{
    background-color: #dddddd;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    padding-top: 85px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 75%;
    overflow: hidden;
}

.sections.footer {
    padding-bottom: 80px;
}

section .subtitle h5 {
    font-size: 1.3rem;
}

.parallax-section {
    max-width: 100%;
    color: #ffffff;
}

section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}

section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}
.overlay {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}

/*
Separator
*/
.separator {
    height: 1px;
    width: 170px;
    margin: 20px 0px;
    background: #eeeeee;
    position: relative;
}
.separator:after {
    position: absolute;
    left:0;
    bottom:0;
    height: 2px;
    width: 50px;
    background: #ff7200;
    content:"";

}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #5e9a28;
    border-color: #5e9a28;
}

.btn {
    display: inline-block;
    min-width: 150px;
    line-height: 30px;
    height: 50px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    margin: 0;
    font-size:0.8125rem;
    border-radius: 0px;
    transition: .5s;
    border: 2px solid #ff7200;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.btn:hover {
    color: #fff;
    text-decoration: none;
}

h1 span {
    color: #5e9a28;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #ddd;
}
input::-moz-placeholder {
    color: #ddd;
}
input::-ms-input-placeholder {
    color: #ddd;
}

/* navbar section */
.menu-scroll {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:rgba(52, 52, 52, 0.9);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    height: 75px;
}


.main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent;
    border-color: transparent;
    transition: all .6s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color: #ff7200;
    background: transparent;
}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #ff7200;
    padding-bottom: 22px;
    border-bottom: 1px solid #ff7200;
    background: transparent;

}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#f5c239;
}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: transparent;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.175);
    box-shadow: 0 0px 0px
}

.dropdown-menu .navbar-form .form-group .form-control::-webkit-input-placeholder{
    color: #ff7200;
    opacity: 1;
}
.dropdown-menu .navbar-form {
    margin-right: -30px;
}

.culmn {
    width:100%;
    overflow: hidden;
}

/*heading title all area*/
.head_title{
    margin-bottom:15px;
    padding-right:5px;
}
.head_title h3{
    color:#413d4b;
}
.head_title p{
    font-family: 'playfair_displayregular';
}

/*home section*/

.home-content {
    z-index:4;
    position: relative;
    display: inline-block;
}

.home .dev-name {
    font: 400 70px 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.home .dev-desc {
    text-shadow: 2px 2px 3px #000;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.home .main_home h1{
    color: #fff;
    margin-bottom:20px;
}
.home .main_home p{
    color: #fff;
    max-width: 60%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size:1.125rem;
}

/*about section*/

.about_me {
    text-align: justify;
}

.profile_photo {
    margin-right: 15px;
    width: 32%;
}

/*skills section*/
.skills {
    background: url(../images/skills_bg.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
}

.skills .head_title h3 {
    color: #FFFFFF;
}

.bg_overlay {
    background-color: rgba(41, 39, 34, 0.75);
    width: 100%;
    height: 100%;
}

.checked {
    color: #ff9c4d;
}

.not-checked {
    color: #999999;
}

.rating {
    font-size: 65%;
}

.list-group-item {
    background-color: transparent !important;
}

.skills_listing {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.skills_listing li {
    text-align: left;
}

.skills h5 {
    color: #ff9c4d;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 2px;
}

/* works section */

.carousel_bg {
    width: 100%;
}

.carousel-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
}

.overlay_omb {
    background: rgba(0,0,0,0.4);
}

.overlay_hp {
    background: rgba(0,0,0,0.75);
}

.overlay_ani {
    background: rgba(0,0,0,0.75);
}

.caption_wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.caption_centered {
    display: table-cell; vertical-align: middle;
}

.work_omb {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    text-shadow: 1px 1px #000000;
    font-family: 'Josefin Sans', sans-serif;
    color: #A8A8A8;
}

.work_hp {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 200%;
    text-shadow: 1px 1px #000000;
    font-family: 'Caveat', cursive;
    color: #A8A8A8;
}

.work_ani {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    text-shadow: 1px 1px #000000;
    font-family: 'Josefin Sans', sans-serif;
}

.logo_omb {
    width:15%;
}

.logo_hp {
   width:40%;
}

.work_btn {
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px #000000 !important;
}

.omb_btn {
    border-color: #955D83;
}

.omb_btn:hover {
    background-color:#955D83;
    border: 2px solid #955D83;
}

.hp_btn {
    border-color: #3F9264;
}

.hp_btn:hover {
    background-color:#3F9264;
    border: 2px solid #3F9264;
}

.ani_btn {
    border-color: #d29898;
}

.ani_btn:hover {
    background-color:#d29898;
    border: 2px solid #d29898;
}

/*footer section*/
.footer{
    background: #000000;
}
.footer .main_footer{
    overflow: hidden;
    padding: 40px 0px;
}
.footer .flowus{
    text-align: right;
}
.footer .flowus a i{
    color:#fff;
    font-size:1rem;
    padding: 5px;
    border:1px solid #fff;
    border-radius: 0;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 18px;
    margin-right:5px;
    margin-top:10px;
}

.footer .flowus a i:hover{
    color:#ff7200;
    border:1px solid #ff7200;
}

.copyright_text{
    text-align: left;
}

.copyright_text p{
    color:#fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}

.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}

.copyright_text p a{
    color:#ff7200;
}

/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #ff7200;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}
